autom4te.cache/*
config.h
config.h.in
*.o
*.sw*
.deps/
Doxyfile
Makefile
Makefile.in
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/index.html
htdocs/
install-sh
libtool
ltmain.sh
missing
mysqlfs
mysqlfs.spec
pkg/Makefile
pkg/Makefile.in
pkg/doc-mainpage.c
pkg/statusfile.xsd
plugins/.deps/
plugins/.libs/
plugins/Makefile
plugins/Makefile.in
plugins/dummy-xor.la
plugins/xor.lo
stamp-h1
test-driver
tests-autotest/.deps/
tests-autotest/Makefile
tests-autotest/Makefile.in
tests-autotest/atconfig
tests-autotest/atlocal
tests-autotest/testsuite.at

